<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" [(ngModel)]="service.FormData.firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="firstName">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Last Name</label>
      <input [(ngModel)]="service.FormData.lastName" type="text" class="form-control" id="exampleInputPassword1" name="lastName">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input [(ngModel)]="service.FormData.age" type="text" class="form-control" id="exampleInputPassword1" name="Age">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Course</label>
        <input [(ngModel)]="service.FormData.courseId" type="text" class="form-control" id="exampleInputPassword1" name="course">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
